:root {
    --primary-color: 223, 16, 95;
    --secondary-color: 218, 101, 24;
    --background: 245, 245, 245;
    --foreground: 235, 235, 235;
}

* {
    margin: 0;
    padding: 0;
    font-family: Outfit, sans-serif;
}

.container {
    display: flex;
    text-align: center;
    width: 100%;    
    height: 100vh;
}

.container > div {
    position: relative;
    height: 100%;
    width: 50%;
    transition: translate 1s ease-in-out;
}

.container .form {
    background-color: rgb(var(--background));
    display: flex;
    overflow: hidden;
}

.container .form > div {
    position: relative;
    min-width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transition: translate 0s ease-in-out 500ms;
    padding: 25px;
    box-sizing: border-box;
    left: 0;
}

.container.signup .form .col-left {
    translate: -100% 0;
}

.container.signup .form .col-right {
    translate: -100% 0;
}

.container .form > div > form {
    width: 100%;
    display: grid;
    place-items: center;
    gap: 25px 0;
}

.container .form .oauth {
    display: flex;
    gap: 0 15px;
}

.container .form .oauth span {
    cursor: pointer;
    background-color: rgb(var(--foreground));
    border-radius: 5px;
    display: grid;
    place-items: center;
    height: 40px;
    width: 60px;
}

.container .content {
    background: linear-gradient(270deg, rgb(var(--primary-color)), rgb(var(--secondary-color)));
    display: flex;
    overflow: hidden;
}

.container .content > div {
    position: relative;
    min-width: 100%;
    display: grid;
    place-items: center;
    transition: translate 1s ease-in-out;
    padding: 25px;
    box-sizing: border-box;
}

.container .content > div .inner-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    width: fit-content;
    height: min-content;
    color: white;
    transition: translate 1s ease-in-out;
}
.container .content .col-left .inner-container {
    translate: -100px 0;
}
.container .content .col-right .inner-container {
    translate: 100px 0;
}

.container.signup .content .col-left .inner-container {
    translate: 0 0;
}

.container.signin .content .col-right .inner-container {
    translate: 0 0;
}

.container.signin .content > div {
    translate: -100% 0;
}
.container.signup .content > div {
    translate: 0 0;
}

.container.signin > div {
    translate: 0 0;
}

.container.signup .form {
    translate: 100% 0;
}
.container.signup .content {
    translate: -100% 0;
}
